@model  SJModel.DesktopChartList
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Areas/PTA/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
        </h1>
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-dashboard"></i> &nbsp; Dashboard</li>
        </ol>
    </section>
    <!-- Main content -->
    <input type="hidden" id="hdnmappoint" value="@Model.Map" />
    <section class="content" style="display:block">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-address-book"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Total Registration</span>
                        <span class="info-box-number">@Model.TotalRegistartion</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-address-card"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Total Admission</span>
                        <span class="info-box-number">@Model.TotalAdmission</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-television"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Total Screening</span>
                        <span class="info-box-number">@Model.TotalScreenning</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="fa fa-medkit"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Total Medical</span>
                        <span class="info-box-number">@Model.TotalMedical</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title" id="headStr">Monthly Recap Report </h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12" style="border-right:1px solid #ccc">
                                <p class="text-center">
                                    <strong>@ViewBag.recentmonth</strong>
                                </p>
                                <div class='chart'><canvas id='barChart' style='height:256px'></canvas></div>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<script>
    $(document).ready(function () {
        chartHeader();
        setTimeout(function () { BarChart(GetListOfAxisPoint()); }, 300);
        StopLoading();
    });
</script>




