@model SJModel.PerformanceModel.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/PerformanceCard/Views/Shared/_LayoutP.cshtml";
}
<style>
    .error {
        color: red;
    }
</style>
<section class="content">
    <!-- Info boxes -->
    <!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            <div class="box-new">
                <!--<div class="side-red-strip"></div>-->
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="title-header-container"><h5> CHANGE PASSWORD</h5></div>
                    <!------------------------------------------------- Search and display info box------->
                    <div class="alert alert-success fade in alert-dismissable text-center" id="dvMsg" style="display:none;">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong id="lblMsg">@TempData["msg"]</strong>
                    </div>
                    <div class="box box-performance box-solid">
                        <!-- /.box-header -->
                        <div class="side-red-strip"></div>
                        <div class="box-body" style="margin-top:25px;">
                            <div class="row">
                                @using (Html.BeginForm("ChangePassword", "Performance",new { area= "PerformanceCard" }, FormMethod.Post, new { @class= "form-horizontal", autocomplete = "off" }))
                                {
                                    <div class="form-group parameter-box-top-bottm-space">
                                        <div class="col-md-4 control-label PA-title-section" for="OldPassword">OLD PASSWORD</div>
                                        <div class="col-md-4 PA_control-input">
                                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control input-md" })
                                            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "error" })
                                        </div>
                                    </div>
                                    <!-- Password input-->
                                    <div class="form-group parameter-box-top-bottm-space">
                                        <div class="col-md-4 control-label PA-title-section" for="NewPassword">NEW PASSWORD</div>
                                        <div class="col-md-4 PA_control-input">
                                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control input-md" })
                                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "error" })
                                        </div>
                                    </div>
                                    <div class="form-group parameter-box-top-bottm-space">
                                        <div class="col-md-4 control-label PA-title-section" for="ReEnterNewPassw/ord">RE-ENTER NEW PASSWORD</div>
                                        <div class="col-md-4 PA_control-input">
                                            @Html.PasswordFor(m => m.ReEnterNewPassword, new { @class = "form-control input-md" })
                                            @Html.ValidationMessageFor(m => m.ReEnterNewPassword, "", new { @class = "error" })
                                        </div>
                                    </div>
                                    <!-- Button (Double) -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="bCancel"></label>
                                        <div class="col-md-8 PA_add-parameter" style="margin-top:0px !important">
                                            <button id="btnSubmit" type="submit" name="btnSubmit" class="btn btn-success">SUBMIT</button>
                                            @if (!string.IsNullOrEmpty(Model.Message))
                                            {
                                            <span id="spnmsg" style="font-size:20px;padding-left:20px;color:@(Model.IsOldPasswordExist == "No"?"red":"green")"> @Model.Message </span>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <!-------------------------------------------------END Search and display info box------->
                </div>
                <!-- /.box-body -->

            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <!-- /.row -->
</section>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        setTimeout(function () { $("#spnmsg").css("display","none"); }, 15000);
    });
</script>